# To help build Triton faster:
ccache

# My stuff:
less
tree
bc
zip
htop
inetutils-ping
zsh
shellcheck
emacs

# LaTeX is required for `plot_layout.py` script.
# TODO: Test `plot_layout.py` with just `texlive-base`.
texlive-base
texlive-latex-extra
texlive-fonts-extra
texlive-fonts-recommended
